<div class="container mt-5">
  <div class="card p-4">
    <h1 class="text-center mb-4">Lista de Tarefas</h1>

    <div class="table-container" cdkDropList (cdkDropListDropped)="dragAndDrop($event)" >
      <table class="table table-striped table-hover align-items-center">
        <thead class="thead-light">
        <tr>
          <th scope="col" style="width: 40%;">Nome</th>
          <th scope="col" style="width: 20%;">Custo</th>
          <th scope="col" style="width: 20%;">Data Limite</th>
          <th scope="col" style="width: 10%;" class="text-left">Mover</th>
          <th scope="col" style="width: 10%;" class="text-left">Ações</th>
        </tr>
        </thead>
        <tbody class="list">
          @for (task of tasks; track task.id; let i = $index) {
            <tr cdkDrag [cdkDragData]="task" class="drag-item" [ngClass]="{'yellow-line': task.cost! >= 1000}">
              <ng-template cdkDragPreview>
                <div class="drag-preview">
                  {{ task.name }}
                </div>
              </ng-template>
              <td class="task-name" [title]="task.name">{{ task.name }}</td>
              <td>{{ currencyToBRL(task.cost) }}</td>
              <td>{{ task.dueDate | date: 'dd/MM/yyyy' }}</td>
              <td>
                <button class="btn btn-sm btn-outline-dark me-2" [disabled]="i === 0" (click)="moveUp(i)"
                        title="Mover para cima">
                  <i class="fa-solid fa-caret-up"></i>
                </button>
                <button class="btn btn-sm btn-outline-dark" [disabled]="i === tasks.length - 1" (click)="moveDown(i)"
                        title="Mover para baixo">
                  <i class="fa-solid fa-caret-down"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-sm btn-outline-dark me-2" (click)="openEditTaskModal(modalUpdateTask, task.id!)"
                        title="Editar">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="btn btn-sm btn-outline-dark" (click)="deleteTask(task.id!)" title="Excluir">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="mt-1">
      <hr>
      <button class="btn btn-success" (click)="openCreateModal(modalCreateTask)">
        Nova Tarefa
      </button>
    </div>
  </div>
</div>

<ng-template #modalCreateTask>
  <form ngNativeValidate #createTaskForm="ngForm" role="form"
        (ngSubmit)="createTask(createTaskForm)">
    <div class="modal-header pb-0">
      <h5 class="modal-title mb-1" id="modal-create-task">
        Nova Tarefa
      </h5>
      <button
        aria-label="Close"
        class="close"
        data-dismiss="modal"
        type="button"
        (click)="createModal.hide()"
      >
        <span aria-hidden="true"> × </span>
      </button>
    </div>

    <div class="modal-body pt-3">
      <div class="form-group mt-0">
        <label class="form-control-label" for="taskName">Nome</label>
        <input
          id="taskName"
          name="name"
          class="form-control"
          type="text"
          maxlength="255"
          [(ngModel)]="createName"
          required
          placeholder="Ex: Comprar arroz no mercado"
        />
      </div>

      <div class="form-group">
        <label class="form-control-label" for="taskCost">Custo</label>
        <input
          id="taskCost"
          name="cost"
          class="form-control"
          type="text"
          [(ngModel)]="createCost"
          required
          placeholder="Ex: 28,00"
          mask="separator.2"
          prefix="R$ "
          thousandSeparator="."
          decimalMarker=","
        />
      </div>

      <div class="form-group">
        <label class="form-control-label" for="taskDueDate">Data Limite</label>
        <input
          id="taskDueDate"
          name="dueDate"
          class="form-control"
          type="date"
          [(ngModel)]="createDueDate"
          required
        />
      </div>
    </div>

    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-modal btn-secondary" (click)="createModal.hide()">
        Voltar
      </button>
      <button
        type="submit"
        class="btn btn-modal btn-success"
      >
        Salvar
      </button>
    </div>
  </form>
</ng-template>

<ng-template #modalUpdateTask>
  <form ngNativeValidate #updateTaskForm="ngForm" role="form"
        (ngSubmit)="updateTask(updateTaskForm)">
    <div class="modal-header pb-0">
      <h5 class="modal-title mb-1" id="modal-update-task">
        Editar Tarefa
      </h5>
      <button
        aria-label="Close"
        class="close"
        data-dismiss="modal"
        type="button"
        (click)="editModal.hide()"
      >
        <span aria-hidden="true"> × </span>
      </button>
    </div>

    <div class="modal-body pt-3">
      <div class="form-group mt-0">
        <label class="form-control-label" for="editTaskName">Nome</label>
        <input
          id="editTaskName"
          name="name"
          class="form-control"
          type="text"
          maxlength="255"
          [(ngModel)]="editName"
          required
          placeholder="Ex: Comprar arroz no mercado"
        />
      </div>

      <div class="form-group">
        <label class="form-control-label" for="editTaskCost">Custo</label>
        <input
          id="editTaskCost"
          name="cost"
          class="form-control"
          type="text"
          [(ngModel)]="editCost"
          required
          placeholder="Ex: 28,00"
          mask="separator.2"
          prefix="R$ "
          thousandSeparator="."
          decimalMarker=","
        />
      </div>

      <div class="form-group">
        <label class="form-control-label" for="editTaskDueDate">Data Limite</label>
        <input
          id="editTaskDueDate"
          name="dueDate"
          class="form-control"
          type="date"
          [(ngModel)]="editDueDate"
          required
        />
      </div>
    </div>

    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-modal btn-secondary" (click)="editModal.hide()">
        Voltar
      </button>
      <button
        type="submit"
        class="btn btn-modal btn-success"
      >
        Salvar
      </button>
    </div>
  </form>
</ng-template>
